*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 60px;

    background: transparent;   /* 白背景をなくす */
    z-index: 100;
    color: #fff;
}

.logo h1{
    font-size:28px;
    font-weight:normal;
    
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
    
}

nav ul li a{
    text-decoration:none;
    color:#fff;
    font-size:18px;
}

nav ul li a:hover{
    color:#666;
}
/**/
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: flex;
    align-items: center;
}

/* 最初以外の項目の前に「/」を表示 */
nav ul li + li::before {
    content: "/";
    color: #fff;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.hero{
    width:100%;
    height:100vh;
    background-image:url("images/IMG_0380.JPG"); /* 祭りの画像 */
    background-size:cover;
    background-position:center;
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;
    
}

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.25); /* 少し暗くする */
}

.hero-text{
    position:relative;
    z-index:2;
    text-align:center;
    color:#fff;
}

.hero-text h2{
    font-size:42px;
    margin-bottom:10px;
    font-family:"Yu Mincho","游明朝",serif;
}

.hero-text h1{
    font-size:80px;
    margin-bottom:20px;
    font-family:"Yu Mincho","游明朝",serif;
}

.hero-text p{
    font-size:32px;
    letter-spacing:4px;
    margin-bottom:40px;
}


/* =========================
   見どころページ
========================= */

.midokoro-page {
    background: #f8f7f2;
    color: #172d43;
}


/* ページタイトル */

.midokoro-title {
    height: 400px;
    background-image: url("images/IMG_0522.jpg");
    background-size: 100%  ;
    background-position: center 35%;
    
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}



.midokoro-title h2 {
    font-size: 60px;
    margin: 0 0 15px;
}

.midokoro-title p {
    font-size: 20px;
}


/* 見どころ1つ分 */

.point {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 40px;

    display: flex;
    align-items: center;
    gap: 70px;

    border-bottom: 1px solid #ddd;
}


/* 文章 */

.point-text {
    width: 45%;
}

.point-text span {
    display: inline-block;

    background: #b52323;
    color: white;

    font-size: 24px;
    font-weight: bold;

    padding: 8px 30px;

    margin-bottom: 20px;
}

.point-text h3 {
    font-size: 40px;
    margin: 0 0 25px;
}

.point-text h3::after {
    content: "";
    display: block;

    width: 45px;
    height: 5px;

    background: #b52323;

    margin-top: 15px;
}

.point-text p {
    font-size: 17px;
    line-height: 2;
}


/* 写真 */

.point-image {
    width: 55%;
}

.point-image img {
    width: 100%;
    height: 350px;

    object-fit: cover;

    display: block;
}


/* 02だけ左右反対 */

.point-right {
    flex-direction: row;
}


/* スマホ対応 */

@media (max-width: 768px) {

    .midokoro-title {
        height: 220px;
    }

    .midokoro-title h2 {
        font-size: 40px;
    }

    .point,
    .point-right {
        flex-direction: column;
        gap: 30px;
        padding: 50px 20px;
    }

    .point-text,
    .point-image {
        width: 100%;
    }

    .point-text h3 {
        font-size: 30px;
    }

    .point-image img {
        height: 300px;
    }
}

/* =====================
   全体
===================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", sans-serif;
    color: #172d43;
    background: white;
}


/* =====================
   ヘッダー
===================== */


.logo h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    align-items: center;
}

nav li + li::before {
    content: "/";
    margin: 0 13px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


/* =====================
   メインビジュアル
===================== */

.main-visual {
    height: 205px;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
        ),
        url("images/IMG_0380.JPG");/*ヘッターの画像*/

    background-size: cover;
    background-position: center;

    color: white;

    display: flex;
    align-items: center;

    padding-left: 4%;
}

.visual-text h2 {
    font-size: 45px;
    margin:50px 0 0 0 ;
    
}

.visual-text p {
    font-size: 16px;
    margin: 0;
}


/* =====================
   会場のご案内
===================== */

.venue {
    padding: 30px 4% 25px;
}

.venue > h2,
.access > h2 {
    font-size: 30px;
    margin: 0 0 18px;

    border-left: 7px solid #172d43;
    padding-left: 10px;
}


/* 2つのボックス */

.venue-list {
    display: flex;
    gap: 20px;
}

.venue-box {
    width: 50%;

    border: 2px solid #888;
    border-radius: 12px;

    padding: 18px;

    min-height: 285px;
}

.venue-box h3 {
    font-size: 21px;
    color: #111;

    margin: 0 0 20px;
}


/* 情報 */

.information {
    display: flex;
    align-items: flex-start;

    gap: 12px;

    margin-bottom: 15px;
}

.information p {
    margin: 0;

    color: #222;

    line-height: 1.5;
}

.mark {
    font-size: 20px;
    min-width: 25px;
}


/* 会場写真 */

.venue-box img {
    display: block;

    width: 50%;
    height: 100px;

    object-fit: cover;

    margin-top: -20px;
}


/* 車のアイコン */

.access-icon {
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 45px;
}

.venue-box hr {
    border: none;
    border-top: 1px solid #ccc;

    margin: 12px 0;
}


/* =====================
   アクセス
===================== */

.access {
    background: #eef2f5;

    padding: 25px 4% 35px;
}

.access-description {
    margin: -5px 0 18px;
}


/* 地図＋詳細 */

.access-area {
    display: flex;
    gap: 20px;
}


/* 地図 */

.map {
    width: 67%;
}

.map img {
    display: block;

    width: 100%;
    height: 240px;

    object-fit: cover;

    border: 3px solid white;
}


/* アクセス詳細 */

.access-detail {
    width: 33%;
    background: white;
    padding: 15px 20px;
    height: fit-content;
}

.access-detail h3 {
    font-size: 18px;
    margin: 0 0 15px;
}


/* 手順 */

.step {
    display: flex;
    align-items: center;

    gap: 10px;

    margin: 10px 0;
}

.step span {
    width: 27px;
    height: 27px;

    border-radius: 50%;

    background: #172d43;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.step p {
    margin: 0;
    color: #222;
}

.access-detail hr {
    border: none;
    border-top: 1px solid #ccc;
}

.sea {
    color: #222;
    line-height: 1.5;
}




/* =====================
   スマホ
===================== */

@media (max-width: 768px) {

    header {
        height: auto;

        padding: 15px;

        flex-direction: column;
        gap: 12px;
    }

    .logo h1 {
        font-size: 22px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav li + li::before {
        margin: 0 7px;
    }

    nav a {
        font-size: 12px;
    }


    .main-visual {
        height: 220px;
        padding-left: 25px;
    }

    .visual-text h2 {
        font-size: 35px;
    }


    .venue-list {
        flex-direction: column;
    }

    .venue-box {
        width: 100%;
    }


    .access-area {
        flex-direction: column;
    }

    .map,
    .access-detail {
        width: 100%;
    }

    .map img {
        height: 250px;
    }
}